# ---> Java
*.class
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*

Servers
classes
.metadata
*.class
bin
*.log
*.DS_Store
.DS_Store
gen
*.orig
target
out
logs
WebRoot
.bak
*~
*.swp
.idea
.idea/*
*.iml
*.eml
*.ipr
*.iws
src/*
projectFilesBackup
.classpath
.project
.settings/.jsdtscope
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/org.eclipse.wst.validation.prefs
docker/*.jar
k8s/*.jar
